.mask{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
.into-img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    object-fit: cover;
   
    }
.mask::after{
     content: "";
     background-color: #000;
     opacity: 0.8;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
}