.about{
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.left{
    text-align: center;
    line-height: 20px;
    margin-top: 100px;
}
.left h3{
    padding-bottom: 10px;
    font-size: 1.9rem;
}
.left p{
    color: #fff;
    padding-bottom: 20px;
}
.left a{
    margin-bottom: 20px;
    margin-top: 20px;
}
.right img{
    width: 100%;
    height: 500px;
}

@media (max-width:768px) {
    .about{
        padding: 10px 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .about .left p{
        padding-bottom: 2rem;
        font-size: 1.2rem;
    }
    .about .right img{
        height: 400px;
    }
}
