.header{
    display: flex;
    justify-content: space-between;

}
.nav-menu{
    display: flex; 
}
.nav-menu a{
    padding: 0 1rem;
    margin-right: 3rem;
    text-decoration: none;
    list-style: none;
}