.header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    align-items: center;
    height: 90px;
   
    
   
}
.header>a:hover{
    font-size: 2rem;
    
}
.header .nav-menu>a:hover{
    font-size: 2rem;
    cursor: pointer;
    
}
.hamburger{
    display: none;
}
.header>a{
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    padding: 1rem 0;
    cursor: pointer;
    transition: font-size 1s ease-in-out;
}
.nav-menu{
    display: flex; 
    cursor: pointer;
}
.nav-menu>a{
    padding: 0 1rem;
    transition: font-size 1s ease-in-out;
    margin-right: 3rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    background-color: transparent;
}

/* small screen sizes */
@media screen and (max-width: 780px) {
    .nav-menu{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100vh;
       position: absolute;
       top: -100%;
       left: 0;
       z-index: 3;
       cursor: pointer;
       transition: 2s;
       background-color: #000;
    }
    .nav-menu.active{
        top: 0;
        cursor: pointer;
    }
    
    .nav-menu>a{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    .header>a{
        font-size: 1.4rem;
        padding: 1rem 0;
    }
    .hamburger{
        display: initial;
        z-index: 20;
    }
    .header>a{
        z-index: 23;
    }
  }
  /* medium size */
  @media only screen and (min-width: 767px)and (max-width: 1023px){
        .nav-menu{
            font-size: 1.4rem;
            float: right;
          
            
        }
        .header>a{
            font-size: 2rem;
        }
  }

  @media only screen and (max-width:375px) {
    .hamburger{
        display: initial;
        z-index: 100;
        color: var(--text-color);
    }
    .nav-menu{
        font-size: 2rem;
        margin-top: -150px;
        
    }
  }
