.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.9);
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
}
.left-f{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    padding-bottom: 0.8rem;
}
.phone{
    display: flex;
    padding-bottom: 0.8rem;
}
.email{
    display: flex;
    padding-bottom: 0.8rem;
}
h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    line-height: 30px;
    font-size: 1.3rem;
}
.right-f{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;   
}
.socials{
    cursor: pointer;
    margin-top: 1rem;
}
@media (max-width:649px) {
    .footer-container{
        max-width: 1140px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:40px;
    }
}