:root{
  --primary-color: #000000;
  --text-color:#A87DFF;
  /* #0DB561 */
  --btn-color:#000099;
  --btn-text-color:white ;
}
*{
  /* font-family: 'Noto Sans Mono', monospace; */
  font-family: 'Sono', sans-serif;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--text-color);
}
html{
  scroll-behavior: smooth;
}
