:root{
  --primary-color: #000000;
  --text-color:#A87DFF;
  /* #0DB561 */
  --btn-color:#000099;
  --btn-text-color:white ;
}
*{
  /* font-family: 'Noto Sans Mono', monospace; */
  font-family: 'Sono', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--primary-color);

}
.contact{
  margin-left: 20px;
}
.btn{
  background-color: #596CEF;
  color:white ;
  font-weight: bold;
  padding: 1rem;
  border-radius: 20px;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  list-style: none;
}
