:root{
  --primary-color: #7021C4;
  --text-color:#0DB561;
  --btn-color:#0D693B;
  --btn-text-color:#B58831;
}
*{
  /* font-family: 'Noto Sans Mono', monospace; */
  font-family: 'Sono', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

